/* palette
 * yellow: #F6C800
 * grey: #252525
 * white: #EAEAEA
 * */


/* fonts */
/* font-family: 'Oleo Script', cursive; */
/* font-family: 'Anton', sans-serif; */
/* font-family: 'Fira Sans', sans-serif; */


html {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #EAEAEA;
    font-size: 16px;
}

.oleo {
    font-family: 'Oleo Script', cursive !important;
}

.anton {
    font-family: 'Anton', sans-serif !important;
}

img#vlogo {
    height: 50px;
    width: auto;
}

header.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-image: url("../img/header.jpg") !important;
    background-repeat: no-repeat !important;
    background-size: 100% auto;
    background-position: center;
    height: 600px;
    text-align: center;
}

header span#header-offset {
    height: 80px;
    width: 1px;
    display: block;
}

header h1.oleo {
    font-size: 90px;
    color: #F6C800;
    margin: 0;
}

header h1.anton {
    font-size: 70px;
    color: #EAEAEA;
    margin: 0;
}

header a.ownButton {
    margin-top: 20px;
}

#header-div.container-fluid {
    margin: 0;
    padding: 0;
}

nav.container-fluid {
    border-radius: none !important;
    -moz-border-radius: none !important;
    -webkit-border-radius: none !important;
    padding: 0;
    /* background-color: #F6C800; */
    background: none;
}

div#myNavbar {
    background: none;
    border-color: #252525;
}

div#myNavbar.navbar-collapse.collapse.in {
    /* background-color: #F6C800; */
    background: none;
}

nav#vnav {
    font-family: 'Fira Sans', sans-serif;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    background: none;
    background-color: #F6C800;
    padding: 20px 0 20px 0;
    border-right: none;
    border-left: none;
    border-top: none;
    border-bottom: solid #252525 1px;
}

nav#vnav.navbar.navbar-inverse {
    /* background-color: #F6C800; */
    background-color: none;
    padding: 0;
    margin: 0;
}

nav ul li.active {
    background-color: red !important;
    color: #F6C800 !important;
}

nav #vlogolink {
    margin: 0;
    padding: 17px 0 0 20px;
}

ul.dropdown-menu {
    padding: 0;
    margin: 0;
    background-color: #F6C800;
    color: #252525;
}

ul.dropdown-menu > li > a.drop-item {
    text-align: center;
    padding: 10px;
}

ul.dropdown-menu > li > a.drop-item:hover {
    color: #F6C800;
    background: none;
    background-color: #252525 !important;
}

nav ul li a.vlink {
    padding-top: 30px !important;
    text-align: center;
    display: inline-block;
    height: 80px !important;
    color: #252525 !important;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: none;
    /* border-radius: 100px !important; */
    /* -webkit-border-radius: 100px; */
    /* -moz-border-radius: 100px; */
}

a.dropdown-toggle:hover {
    background-image: none;
    color: #F6C800 !important;
    background-color: #252525 !important;
}


nav ul li a.vlink:hover {
    background-color: #252525 !important;
    color: #F6C800 !important;
}

nav ul li a.active {
    background-color: #252525;
    color: #F6C800 !important;
}



/* CONTENT PROPER */

/* GENERAL */
.col {
    color: #252525;
    padding: 10px 20px;
}

h2.anton {
    font-size: 40px !important;
    display: inline-block;
}

.body-text {
    font-family: 'Fira Sans', sans-serif;
    font-size: 16px;
    text-align: justify;
}

.block-text {
    margin: 15px;
    padding-left: 15px;
    border-left: 10px solid #252525;
}

.strong-text {
    font-weight: bold;
}

.text-link {
    text-decoration: underline;
    color: #252525;
    font-style: italic;
}

a.ownButton {
    margin-top: 10px;
    display: inline-block;
    border-radius: 100px;
    background-color: #F6C800;
    text-decoration: none;
    color: #252525;
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    /* font-weight: bold; */
    padding: 10px 20px 10px 20px;
}

a.ownButton:hover {
    background-color: #252525;
    color: #EAEAEA;
}

/* HOME */


@media only screen and (max-width : 1200px) {

}

@media only screen and (max-width : 979px) {

}

@media only screen and (max-width : 767px) {
    a.ownButton {
        font-size: 16px;
    }
    button {
        margin-right: 25px !important;
    }
    button > span {
        background-color: #252525 !important;
    }
    button.navbar-toggle:hover {
        background-color: #252525;
    }
    button:hover > span {
        background-color: #F6C800 !important;
    }
    header.container-fluid {
        height: 500px;
        background-position: center top;
        background-size: auto 100%;
    }
    header h1.oleo {
        font-size: 60px;
    }
    header h1.anton {
        font-size: 40px;
    }
    img#vlogo {
        height: 30px;
        margin-left: 10px;
    }
    nav #vlogolink {
        padding-top: 12px;
    }
    nav ul li a.vlink {
        padding: 10px !important;
        height: auto !important;
        width: 100%;
        font-size: 16px;
    }
}

@media only screen and (max-width : 480px) {
}

@media only screen and (max-width : 320px) {

}
